*
{
    box-sizing: border-box;
    font-family: arial;
    color: #fff;
}

body
{
    background-image: url(https://media.istockphoto.com/id/1409540606/vector/vector-contact-us-pattern-contact-us-seamless-background.jpg?s=612x612&w=0&k=20&c=3djpAIuo9fE9Mr4T7bLIUpEjqU7XaZk4wWt7aMUgU1o=);
    background-size: 100%, 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#mensagens
{
    padding: 20px;
    margin: 0;
    list-style: none;
    background-color: #0009;

    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

.message
{
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    width: 100%;
    border: 2px solid #fff;
    background-color: #0005;
}

.me
{
    text-align: right;
    border-radius: 10px 10px 0px 10px;
}

#enviar
{
    width: 100%;
    padding: 10px;
    background-color: #0005;
    border: none;

    position: fixed;
    bottom: 0;
    cursor: pointer;

    font-size: 30px;
}

#enviar:hover
{
    background-color: #0007;
}

#enviar:active
{
    background-color: #fff7;
}